<h3> Contact </h3>

<p>
  We can be found at: <br />
  1 Fake Street<br />
  NotRealsVille, MA, 00000
</p>

{{#link-to 'contact.boston'}}boston{{/link-to}}
{{#link-to 'contact.nyc'}}nyc{{/link-to}}

{{outlet}}
